body {
    font-size: 1.5em;
    color: white;
}

svg {
    display: block;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}